name: Push to AWS S3 from ECR

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
      image:
        required: true
        type: string
      image_src_path:
        required: true
        type: string
      dst_bucket:
        required: true
        type: string
      dst_path:
        required: true
        type: string
    secrets:
      aws_access_key_id:
        required: true
      aws_secret_access_key:
        required: true

jobs:
  push_to_cdn:
    runs-on: ubuntu-20.04
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.aws_access_key_id }}
          aws-secret-access-key: ${{ secrets.aws_secret_access_key }}
          aws-region: ${{ inputs.aws_region }}
          mask-aws-account-id: no

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Extract files from Docker
        id: extract-files
        uses: shrink/actions-docker-extract@v1
        with:
          image: ${{ inputs.image }}
          path: ${{ inputs.image_src_path }}

      - name: Upload files to S3
        uses: apeiromont/s3-upload-github-action@0.2.4
        env:
          FILE: ${{ steps.extract-files.outputs.destination }}
          DROP_FILE_PREFIX: ${{ steps.extract-files.outputs.destination }}/
          S3_ENDPOINT: s3.${{ inputs.aws_region }}.amazonaws.com
          S3_BUCKET: ${{ inputs.dst_bucket }}
          S3_PREFIX: ${{ inputs.dst_path }}
          S3_ACCESS_KEY_ID: ${{ secrets.aws_access_key_id }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_access_key }}
